#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    padding-left: 120px;
    padding-right: 120px;
}

#title {
    color: white;
    font-family: 'Rowdies', cursive;
    font-size: 130px;

    flex-basis: 40%;
    position: relative;
} 

#lunar {
    color: #F9CBFF;
}

#date-section {
    color: white;
    font-family: 'Rowdies', cursive;
    font-size: 30px;

    position: relative;
    flex-basis: 50%;
}

button {
    font-family: 'Rowdies', cursive;
    font-size: 30px;
    border: 0px;
    padding: 10px 25px 15px 25px;
    border-radius: 100px;
    background-color: #F9CBFF;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    width: 730px;
}

button:hover {
    background-color: #FFF9C6;
}

#date-selector {
    display:flex;
}

#date-selector > span {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    background-color: transparent;
    color:#F9CBFF;
    font-family: 'Rowdies', cursive;
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    width: 230px;
    height: 70px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

form {
    position: relative;
}
